
.f-nav {
    background-color:teal;
    position:relative;
}

.f-nav a:hover {
    background-color:rgba(0, 128, 128, 0.219);
}

.f-brand {
    border-style:none;
    border: 1px solid transparent;
    border-radius: 3px;
    position:absolute;
}

@media (min-width: 1200px) {
  .f-brand {
    border-style:none;
    border: 1px solid transparent;
    border-radius: 3px;
    position:relative;
    left:5%;
    padding:.5px .1px .5px .5px;
  }
}

.f-brand:hover {
    border: 1px solid black;
    border-radius: 3px;
}

.f-btn {
    border-style:none;
    height:100%;
    width:100%;
    position: absolute;;
    left:0;
    top:0;
    color:white;
    background-color:rgba(73, 245, 245, 0.25);
}

.f-btn-sml {
    padding-left:2px;
    color:rgb(255,255,255,0.8);
}

.f-btn:hover {
    background-color:rgba(73, 245, 245, 0.15);
}

f-search {
    width:100%;
    position: absolute;
    left:80%;
}

.f-menu {
    height:50px;
    padding-top:3px;
}

.f-menu-list {
    color:rgb(221, 218, 218);
    text-align:right;
    line-height:50%;
    border:1px solid transparent;
    border-radius:2px;
}

.f-menu a:hover {
    color:white;
    border: 1px solid black;
    border-radius: 3px;
}
.f-menu-sml {
    color:white;
    font-size:x-small;
    font-weight:bold;
}

.f-icons {
    color:rgb(255,255,255,0.5);
    font-size:x-large;
}

ul {
    list-style-type:none;
}
