
.f-nav {
    background-color:rgba(28, 54, 91, .85);
    position:relative;
    z-index: 1;
}

.f-nav a:hover {
    background-color:rgba(0, 128, 128, 0.219);
}

.f-burger {
    border: 1px solid transparent;
    border-radius: 3px;
}

.f-burger:hover {
    border: 1px solid black;
    border-radius: 3px;
}

.f-brand {
    color:rgb(255,255,255,0.8);
    font-family: 'Dancing Script', cursive;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.f-brand:hover {
    color:rgb(255,255,255,0.8);
    text-decoration:none;
    border: 1px solid black;
    border-radius: 3px;
}

.f-btn {
    background-color:rgba(255,255,255, .5);
}

.f-btn a:hover {
    color:white;
    background-color:rgba(28, 54, 91, .25);
}

f-search {
    width:100%;
    position: absolute;
    left:80%;
}

.f-menu {
    height:50px;
}

.f-menu-list {
    color:rgb(221, 218, 218);
    text-align:right;
    line-height:50%;
    border:1px solid transparent;
    border-radius:2px;
}

.f-menu a:hover {
    color:white;
    border: 1px solid black;
    border-radius: 3px;
}
.f-menu-sml {
    color:white;
    font-size:x-small;
    font-weight:bold;
}

.f-icons {
    color:rgb(255,255,255,0.5);
    font-size:x-large;
}

ul {
    list-style-type:none;
}

.f-hero-container {
    position:absolute;
    top:0px;
    left:0px;
}

.p-hero-image {
    position:relative;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    object-fit: contain
}
